# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/blue_group.iml
/vcs.xml
/watcherTasks.xml
/misc.xml
/modules.xml